{% extends 'theme/base.twig' %}

{% block javascripts %}
    {% block importmap importmap('app') %}
{% endblock %}

{% block body %}
    <header>
        <a href="/">
            <img src="/images/logo.svg" alt="Logo"/>
        </a>
        <nav>
            <ul>
                {% for item in menu() %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        <h1 align="center">{{ title }}</h1>
        {% for section in page.sections|default([]) %}
            <section>
                {{ section.content.text|default('')|nl2br }}
            </section>
        {% endfor %}
    </main>
    <footer>
        Footer here
    </footer>
{% endblock %}