{% extends 'theme/base.twig' %}

{% block javascripts %}
    {% block importmap importmap('app') %}
{% endblock %}

{% block body %}
    <header>
        <img src="/images/logo.svg" alt="Logo"/>
        <nav>Nav here</nav>
    </header>
    <main>
        Content here!
    </main>
    <footer>
        Footer here
    </footer>
{% endblock %}