framework:
    cache:
        pools:
            key_value_store:
                default_lifetime: 0 # Never expire
                adapters:
                    - cache.adapter.apcu
                    - app.cms_pdo_provider

services:
    app.cms_pdo_provider:
        parent: cache.adapter.doctrine_dbal
        arguments:
            $connOrDsn: '@database_connection'
            $namespace: '%cms.key_value_namespace%'
            $options:
                db_table: '%cms.key_value_table%'