###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public_html/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/tests/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public_html/assets/
/assets/vendor/
###< symfony/asset-mapper ###

.idea
public_html/cms
public_html/apcu.php
public_html/media/files
public_html/media/thumbs
composer.lock