services:
  php:
    image: kiksaus/kikdev-symfony
    ports:
      - "${SITE_PORT}:443"
    volumes:
      - ./../../../../:/var/www:cached
      - ./../../../../public_html/:/var/www/public_html:cached
      - ./../:/var/www/vendor/kiksaus/cms-backend:cached
      - ./../../:/var/www/vendor/kiksaus:cached
      - ~/.docker-kikdev/logs:/var/log/apache2/:cached
    networks:
      kikdev:
        aliases:
          - ${SITE_ALIAS}
    environment:
      XDEBUG_CONFIG: remote_host=docker.for.mac.host.internal

networks:
  kikdev:
    external: true
    name: kikdev