# yaml-language-server: $schema=../../../symfony/dependency-injection/Loader/schema/services.schema.json
# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.default_email_from: '%env(DEFAULT_EMAIL_FROM)%'
    app.default_cms_content_language: '%env(default:app.en:APP_DEFAULT_CMS_CONTENT_LANGUAGE)%'
    app.company.name: 'Kiksaus'
    app.company.email: 'info@kiksaus.nl'
    app.company.address: 'Koningin Wilhelminaweg 16'
    app.company.city: 'Hollands Kroon'
    app.company.zip: '1774 AA'
    app.company.infoLine: '%app.company.name%, %app.company.address%, %app.company.zip%, %app.company.city%'
    app.en: 'en'

    app.id: '%env(PROJECT_ID)%'
    app.name: '%env(PROJECT_NAME)%'
    app.portBase: '%env(PROJECT_PORT_BASE)%'

    cms.port: '%env(PORT)%'
    cms.name: '%env(ALIAS)%'

    admin.dist.latest: '%env(LATEST_ADMIN_DIST)%'

services:
    Symfony\Component\PasswordHasher\Hasher\NativePasswordHasher: ~
    Symfony\Component\String\ByteString: ~
    Symfony\Component\Yaml\Parser: ~

    _instanceof:
        KikCMS\Domain\DataTable\Modifier\DataTableModifierInterface:
            tags: [ 'datatable.modifier' ]

    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            Symfony\Component\DependencyInjection\ContainerInterface: '@service_container'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully qualified class name
    KikCMS\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Kernel.php'
            - '../src/functions.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    KikCMS\Domain\Mail\CmsMailer:
        arguments:
            $defaultEmailFrom: '%app.default_email_from%'
            $companyInfoLine: '%app.company.infoLine%'

    KikCMS\Domain\App\ExceptionSubscriber:
        tags:
            - { name: 'kernel.event_subscriber' }

    KikCMS\Entity\File\FileService:
        arguments:
            $storageDir: '%kernel.project_dir%/var/storage'
            $publicMediaDir: '%kernel.project_dir%/public_html/media'