.kikform {
    /* global */
    --kikform-border-radius: 4px;

    /* field */
    --kikform-field-border-color: #e1e1e1;
    --kikform-field-padding: 8px 12px;
    --kikform-field-margin: 12px;
    --kikform-field-outline-color: #66afe9;

    /* labels */
    --kikform-label-margin: 3px;

    /* error */
    --kikform-error-margin: 5px;
    --kikform-error-padding: 5px;

    /* button */
    --kikform-button-padding: 8px 24px 10px;
    --kikform-button-color: white;
    --kikform-button-bgcolor: #353535;
    --kikform-button-bgcolor-hover: #464646;
    --kikform-button-bgcolor-click: #575757;

    /* checkboxes */
    /* noinspection CssNonIntegerLengthInPixels */
    --kikform-checkboxes-label-correction: 0.5px;
    --kikform-checkboxes-toplabel-margin: 8px;
    --kikform-checkboxes-gap: 5px;
    --kikform-checkboxes-label-gap: 4px;
    --kikform-checkboxes-size: 15px;

    .kikform__errors {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .kikform__error {
        border-radius: var(--kikform-border-radius);
        margin-bottom: var(--kikform-error-margin);
        padding: var(--kikform-error-padding);
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }

    .kikform__row {
        margin-bottom: var(--kikform-field-margin);

        input[type="text"], input[type="email"], input[type="number"], textarea, select {
            -webkit-appearance: none;
            border: 1px solid var(--kikform-field-border-color);
            border-radius: var(--kikform-border-radius);
            padding: var(--kikform-field-padding);
            box-shadow: none;
            display: block;
            width: 100%;

            &:focus {
                border-color: var(--kikform-field-outline-color);
                outline: 0;
            }
        }

        > label {
            display: block;
        }

        > label + .kikform__options {
            margin-top: var(--kikform-checkboxes-toplabel-margin);
        }

        > label + .kikform__errors {
            margin-top: var(--kikform-error-margin);
        }

        select {
            background-image: url("/images/icons/arrow.svg");
            background-repeat: no-repeat;
            background-position: right 9px center;
            background-size: 16px;
        }
    }

    .kikform__options {
        display: inline-flex;
        flex-direction: column;
        gap: var(--kikform-checkboxes-gap);
    }

    .kikform__option {
        width: auto;
        display: flex;
        align-items: center;
        gap: var(--kikform-checkboxes-label-gap);

        label {
            cursor: pointer;
            position: relative;
            top: var(--kikform-checkboxes-label-correction);
        }

        input[type="checkbox"] {
            width: var(--kikform-checkboxes-size);
            height: var(--kikform-checkboxes-size);
            margin: 0;
            border-color: red;
        }
    }

    button[type="submit"] {
        background-color: var(--kikform-button-bgcolor);
        color: var(--kikform-button-color);
        border-radius: var(--kikform-border-radius);
        padding: var(--kikform-button-padding);
        border: none;
        cursor: pointer;
        display: inline-block;

        &:hover {
            background-color: var(--kikform-button-bgcolor-hover);
        }

        &:active, &:hover:active {
            background-color: var(--kikform-button-bgcolor-click);
        }
    }
}